body {
  background-image: url('../../assets//imgs/Site-background-light.png');
  background-repeat: repeat;
}

.container {
  max-width: inherit;
  margin: 0 auto;
  padding: 10px;

  @include from-mobile-layout {
    max-width: $mobile-breakpoint;
  }
  @include from-normal-layout {
    max-width: $normal-breakpoint;
  }

  @include from-wide-layout {
    max-width: $wide-breakpoint;
  }
}
