//TITLES
@font-face {
  font-family: Archivo;
  src: url('../../assets/fonts/Archivo-Bold.ttf');
}

//MAIN FONT
@font-face {
  font-family: Roboto;
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}
