//TITLE
@font-face {
  font-family: Archivo;
  src: url('../../assets/fonts/ArchivoBlack-Regular.otf') format('opentype');
}
//MAIN FONT
@font-face {
  font-family: Roboto;
  src: url('../../assets/fonts/RobotoMono-Regular.ttf');
}
