.app-header {
  .header-img {
    height: auto;
    width: 100%;
    background-image: url('../../assets/imgs/hero-mobile.png');
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include from-mobile-layout {
      background-image: url('../../assets/imgs/hero-normal.png');
      height: 200px;
    }
    @include from-wide-layout {
      background-image: url('../../assets/imgs/hero.png');
      height: 240px;
    }
  }
}
