.chart-cont {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding-top: 10px;
  @include from-mobile-layout {
    font-size: 25px;
  }
  .chart-title {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    font-family: Archivo;
  }
  .chart {
    flex-grow: 1;
    display: flex;
    margin-bottom: 1em;

    .y-title {
      font-size: 0.8em;
      text-align: center;

      writing-mode: vertical-lr;
      // text-orientation: sideways;
      padding: 0 0.5em;
    }
    .columns {
      flex-grow: 1;
      display: flex;
      gap: 1.2em;
      justify-content: center;
      align-items: flex-end;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      padding: 10px;
      .column {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        .column-body {
          background-color: red;
        }
        .column-y-value {
          text-align: center;
        }
        .column-title {
          text-align: center;
          padding-top: 5px;
        }
      }
    }
  }
  .chart-legend {
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    .chart-legend-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;
      .color-square {
        height: 1em;
        width: 1em;
        border-radius: 50%;
      }
    }
  }
}
