.character-table {
  background-color: white;
  border-collapse: collapse;
  margin: auto;
  width: 70%;
  font-size: 20px;
  @include from-mobile-layout {
    font-size: 25px;
  }
  .title {
    padding-bottom: 10px;
    font-size: 1.5em;
    font-family: Archivo;
  }
  td {
    padding: 10px;
  }
  tr td:first-child {
    border: 1px solid white;
    background-color: $clr3;
    color: $clr2;
  }
  tr td:nth-child(2) {
    border-bottom: 1px solid $clr3;
    background-color: white;
    color: $clr3;
  }
}
